/* RESET CSS */
*{
    margin: 0;
    padding: 0;
}

/* VARIAVEIS GLOBAIS */
:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #4c00ff;
    --color-primary-light: #6635d8;
    --color-primary: #FF9819;  /* #8257E5 */
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #eae5f7;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%; /* controle das medidas rem */
}

html,
body {
    height: 100vh;
}

body {
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}